<ion-view view-title="My Meeting List">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-hide="meetingList">Meeting list is empty...</div>

    <div class="list card" ng-repeat="meeting in meetingList">
      <a class="item item-icon-left mettingList"
         on-hold="onHoldToDelete()" ng-click="callMeeting('{{meeting.dailNumber}},{{meeting.meetingNumber}}##')"><i
        class="icon ion-android-call"></i>Meeting:<p>{{meeting.meetingName}} Meeting Id: {{meeting.meetingNumber}}</p>
      </a>
    </div>

  </ion-content>
</ion-view>
